:root {
    --black: #18181b;   
    --green: #13a113;
    --grey: #2c2c2c;
    --grey-dark: #33383d;
    --blue: #101020;
    --chat: #40704be7;
}

body {
    position: relative;
}

input[type="search"]::-webkit-search-cancel-button {
    padding-right: 0px;
    cursor: pointer;
}

#userTag {
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: .5rem;
    padding-bottom: 0.1rem;
    border-bottom: 1px solid rgba(75, 196, 75, 0.925);
    border-radius: 5px;
    font-size: clamp(1em, 1rem + 0.45vw, 1.3rem);
    color: #f1f1f1;
    cursor: pointer;
}   

.container {
    display: flex; 
    flex-direction: column;
    width: 80%; 
    position: relative;
    max-width: 900px;
    min-width: 300px; 
    height: 80%;
    background-color: var(--grey);
    border-radius: 10px;
    padding-top: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1.2rem 1rem;
    background: var(--blue);
}

.profile-image-container{
    display: inline-flex;
    justify-content: left;
}

.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--green);
    cursor: pointer;
}

.add-user-container {
    font-size: 20px;
    padding: 7px;
    cursor: pointer;
}

/* float new user */

.add-user-float{
    display: none;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: .8rem;
    border-radius: 7px;
    border: 1px solid #c1c1c1;
    background: var(--black);
    z-index: 999;
    
    max-width: 220px;

    position: absolute;
    top: 3rem;
    right: 2rem;
    margin: 1rem auto;
    
    overflow: hidden;
    transition: all 0.3s ease;
}

.add-new-user-search {
    display: flex;
    flex: 0 0 auto;
    margin-bottom: 15px;
    margin-left: auto;
}

#addNewUser {
    padding-right: 5px;
    border: none;
    border-bottom: 1px solid #13a113;
    font-size: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem);
    outline: none;
    width: 100%;
    background: transparent;
    letter-spacing: 1px;
}

.add-new-user-search i {
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid var(--green);
    background: var(--blue);
    cursor: pointer;
}

.add-new-user-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-height: 50vw;
    margin-top: 25px;
    gap: 5px;

    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
}

.user-error {
    padding: 7px 5px;
    font-weight: 600;
    color: rgb(255, 127, 127);
}

.new-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 5px;
    border-radius: 10px;
    border-bottom: 1px solid var(--green);
    border-top: 1px solid var(--green);
    background: var(--grey-dark);
}

.data-user {
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
}

.data-user img {
    width: 100%;
    height: 40px;
    max-width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.username {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 80%;
    font-size: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem);
}

.new-user i {
    margin-inline: 5px;
    z-index: 999;
    cursor: pointer;
}

/* //////////////////// */

.existing-user-search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1rem;
    background: var(--grey-dark);
    overflow: hidden;
}

.search-input {
    padding: .8rem .7rem;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 70%;
    max-width: 400px;
    outline: none;
}

.existing-user-search {
    display: flex;
    align-items: center;
}

.existing-user-search i {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: .8rem 1rem;
    font-size: .95rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: var(--blue);
    cursor: pointer;
    flex-shrink: 0;
}

.container-main {
    background-color: var(--black);
    flex-grow: 1;
    margin: 15px;
    border-radius: 10px;
    overflow-y: auto;
}

.chats-container {
    background-color: #8d8d8d0c;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-block: 10px;
}

.chats-container:nth-child(1) {
    margin-top: 0;
}

.chat {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    border-radius: 10px;
    border-bottom: 2px solid var(--green);
    border-top: 2px solid var(--green);
}

.data-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
}

.chat-left {
    display: flex;
    align-items: center;
}

.container-photo {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    padding: 5px;
}

.user-photo {
    width: 100%;
    height: 50px;
    max-width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.chat-username {
    border-bottom: 1px solid var(--green);
    margin-left: 10px;
    cursor: default;
}

.message-date {
    font-size: .8rem;
    margin-right: .7rem;
}

.chat-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.last-message {
    font-size: clamp(.5rem, .2vw + 1rem, 2rem);
    letter-spacing: 1px;
}

.new-message-indicator {
    font-size: clamp(1rem, 1.2vw + 1rem, 2rem);
    color: var(--green);
}

/* ////////// */

.logout-box {
    position: absolute;
    top: 10px;
    left: 10px;
}

#logout {
    position: relative;
    font-weight: 600;
    padding: 7px;
    font-size: clamp(16px, 2vw, 24px);
    border: none;
    background: transparent;
    cursor: pointer;
}

#logout::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--green);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

#logout:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* CONTAINER QUERYS */

@container (min-width: 1276px) {
    .add-user-float {
        position: absolute;
        right: -250px;
        max-width: 300px;
        top: 50px;
        margin: 0;
    }
}

.container {
    container-type: inline-size;
}
