body {
    position: relative;
}

.container {
    text-align: center;
    line-height: 3;
    background: #ff000d60;
    padding: 1.52rem 6rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.2rem;
}

#toReturn {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: .7rem;
    border: none;
    border-bottom: 2px solid green;
    border-radius: 7px;
    font-weight: 500;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

#toReturn:hover {
    border-top: 2px solid green;
}